* {
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  -webkit-overflow-scrolling: touch;
}

*:focus {
  outline: 0 !important;
}

a {
  color: $black;
}

a:hover {
  text-decoration: none;
  color: $black;
}
