.modal-sign-in {
  .MuiPaper-root {
    width: 100%;

    .sign-in-content {
      width: 560px;
      background-color: #f5f7f7;
      border-radius: 5px;

      .sign-in-form {
        padding: 30px;
      }
    }
  }
}
