.modal-sign-up {
  .sign-up-content {
    background-color: $white-smoke;
    width: 80%;

    @include media-breakpoint-up(sm) {
      width: 50%;
    }

    .sign-up-form {
      .sign-up-form-info {
        min-width: 15px;
        height: 15px;
      }
    }
  }
}
